* {
    box-sizing: border-box;
}

html, body {
  font-family: 'Faustina', serif;
  margin: 0;
  padding: 0;
}

main{
  padding: 0px;
  background: radial-gradient(circle, #82B9AA, #CDCEB9),
              linear-gradient(120deg, #538D7C, #CCB78C);
  background-blend-mode: overlay;
}

a{
    color:#107F63;
}

p {
    font-size: 18px;
}

footer p {
    font-size: 16px;
}

header {
  background-color: #095140;/*#D8AF46;*/
  color: #F1D395;
  padding: 10px;
  font-size: 28px;
}

h1{
  font-weight: 800;
  text-align: center; 
  margin:0 0 15px;
}

h2{
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 0px;
}

h3{
  font-size: 30px;
  color: #000;
  font-weight: 600;
}

section {
  padding: 25px 40px 40px;
}

footer {
  background-color: #095140;
  color: white;
  text-align: left;
  padding: 10px;
  bottom: 0;
}

nav {
  background-color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0;
  overflow-x: hidden;
  z-index: 2;
}

nav a {
  font-weight: 600;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin: 0 4vw;
}

/* Add a red background color to navbar links on hover */
nav a:hover {
  text-decoration: underline;
}

.indent {
  padding-left: 20px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* overflow-x: auto; */
}

.content-container .content-container{
    border: 1px;
    padding: 20px;
    flex-direction: row;
    /* flex: 1 1 500px; */
}

.box {
  border: 1px;
  padding: 20px;
  flex: 0 0 auto;
  align-items: center;
}

.content-container .circle-frame, .content-container .circle-frame-large{
    flex: 0 0 auto;
}

.content-container div, .content-container p{
    flex: 1;
}

.circle-frame {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #3D7F71;
  overflow: hidden;
}

.circle-frame-large {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 7px solid #3D7F71;
  overflow: hidden;
}

.circle-frame img, .circle-frame-large img {
  padding: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-large{
  width: 400px;
  height: auto;
}

.logo-small{
  width: auto;
  height: 100px;
}

/* Solid border */
hr.solid {
    border: 2px solid whitesmoke;
    margin: 0;
}
  
/* Rounded border */
hr.rounded {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 10vw;
}


/* Slideshow container */
.slideshow-container {
  max-width: 60vw;
  position: relative;
  margin: auto;
  text-align: center;
  z-index: 1;
}

/* Hide the images by default */
.slide {
  display: none;
}

.slide *{
  align-items: center;
  justify-content: center;
  width: auto;
  height: 30vw;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #095140;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #82B9AA;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#footer-text a{
  color: #F1D395;
  text-decoration: none;
}


/* Adjust Font Size for Tablets */
@media screen and (max-width: 777px) { 
  nav a {
    margin: 0 3vw;
  }

  .logo-large {
    width: 30vw;
  }

  .logo-small{
    height: 60px;
  }
  
  body {
    font-size: 14px; /* Slightly smaller font for tablets */
  }

  header{
    font-size: 2vw;
  }

  h2 {
    font-size: 30px;
  }

  h3{
    font-size: 25px;
  }
  
  .circle-frame {
    width: 95px;
    height: 95px;
    border-width: 4px;
  }
  
  .circle-frame-large {
    width: 115px;
    height: 115px;
    border-width: 5px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }

  .content-container{
    flex-direction: column;
  }

  .content-container .content-container{
    flex-direction: column;
  }
}

/* Adjust Font Size for Mobile Phones */
@media screen and (max-width: 422px) {
  body {
    font-size: 12px; /* Smaller font for small screens */
  }
  
  nav a {
    margin: 0 8px;
  }
  
  .circle-frame {
    width: 60px;
    height: 60px;
    border-width: 3px;
  }
  
  .circle-frame-large {
    width: 75px;
    height: 75px;
    border-width: 4px;
  }
  
  .logo-small{
    height: 40px;
  }
}